@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

/* header styles */
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  padding: 2rem;
}

.logo img {
  height: 3rem;
  margin-bottom: 1rem;
}

form {
  width: 85%;
  margin: 2rem auto 1rem auto;
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* align-items: center; */
  gap: 2px;
  background-color: rgba(242, 242, 242, 1);
}

span.search-text {
  display: none;
}

#editClose {
  display: none;
}

.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 12;
  padding: 3rem;
}

.active form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.active input {
  width: 100%;
  border-radius: 0;
}

.active input:focus {
  outline: none;
}

.active .edit-close-icon {
  display: flex !important;
  align-items: center;
  color: #000;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.active #location-input {
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

.active #guests-input {
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.active i.search-icon {
  font-size: 5rem;
  margin-top: 8px;
  color: #fff;
}

.active i.close-icon {
  color: #000;
  font-size: 5rem;
}

.active span.search-text {
  display: block;
}

input,
.nav-form button {
  height: 8rem;
  padding: 3rem 0;
  background-color: #fff;
  border: transparent;
  display: flex;
}

button {
  justify-content: center;
  align-items: center;
}

#location::placeholder {
  font-weight: 400;
  font-size: 2rem;
  color: #333;
}

.add-guest::placeholder {
  color: #bdbdbd;
  font-weight: 400;
  font-size: 2rem;
}

i.search-icon {
  font-size: 3rem;
  color: rgba(235, 87, 87, 0.9);
}

button.add-guest {
  font-size: 2rem;
  color: rgba(189, 189, 189, 1);
}

/* main styles */
.location-days {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h2.location {
  color: #333;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
}

p.days {
  color: #4f4f4f;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 3rem 1rem 1rem;
}

.apartments {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.card {
  width: 96% !important;
  height: 40rem;
  margin: 0 auto 3rem auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

.card img {
  width: 100%;
  height: 75%;
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card .description {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.description button {
  border-radius: 4rem;
  background-color: #fff;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  padding: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 1rem;
}

p.entire-apartment {
  font-weight: 500;
  font-size: 2rem;
  color: #828282;
}

p.title {
  /* padding-left: 1rem; */
  font-weight: 600;
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.rating {
  margin: 0 1rem 0 auto;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0;
}

p.rating-num {
  color: #4f4f4f;
  font-size: 1.8rem;
  padding-top: 0;
  margin-top: 0;
}

i.star-icon {
  font-size: 3.4rem;
  color: rgba(235, 87, 87, 0.9);
  padding: 0;
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  header,
  main,
  .apartments {
    width: 100%;
  }

  .active .activebutton {
    position: absolute;
    bottom: 4rem;
    transform: translate(50%, -50%);
    background: #eb5757e6;
    color: #fff;
    border-radius: 2rem;
    text-align: center;
    width: 40%;
    font-size: 2.5rem;
    letter-spacing: 1px;
    gap: 5px;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input,
  .nav-form button {
    height: 4rem;
    padding: 1rem;
  }

  form {
    margin: 2rem 0 1rem 0;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2px;
    background-color: rgba(242, 242, 242, 1);
  }

  input::placeholder,
  #guests-input::placeholder {
    font-size: 1rem;
  }

  i.search-icon {
    font-size: 2rem;
    color: rgba(235, 87, 87, 0.9);
  }

  .apartments {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1rem;
    padding: 0 2rem;
  }

  .card {
    height: 30rem;
    border-radius: 1rem;
    margin: 0 auto 1rem auto;
  }

  .card img {
    height: 75%;
    border-radius: 2rem;
  }

  .description button {
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1rem;
  }

  p.entire-apartment {
    font-size: 1.2rem;
  }

  i.star-icon {
    font-size: 2.4rem;
    margin-top: 4px;
  }

  .rate {
    margin-bottom: -28px;
  }

  p.title {
    /* padding-left: 1rem; */
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
    padding-top: 1rem;
  }

  .active form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    border-radius: 1rem;
    background-color: #fff;
  }

  .active input {
    border-radius: 0;
    width: 33%;
  }

  .active .activebutton {
    position: absolute;
    top: 10.1rem;
    right: 6rem;
    background: #eb5757e6;
    color: #fff;
    border-radius: 1rem;
    width: 10%;
    font-size: 1rem;
    letter-spacing: 1px;
    gap: 5px;
  }

  .active #location-input,
  .active #guests-input {
    border-radius: 1rem;
  }

  .active i.search-icon {
    font-size: 2.5rem;
  }

  .active input:focus {
    outline: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
